{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container fluid">
    <div class="row">

        {% include "flash.html" %}
        
        <div class="col-md-7 col-md-offset-2"  style="border-bottom: 0px solid #ccc">

            <h1>Category Edition page...</h1>

            <h3>{{category.vehicle_type}}</h3>
            <h4>{{category.description}}</h4>

            <form action="{{url_for('editCategory', category_id = category.id)}}" method = "post">
                <div class="form-group">
                    <label for="vehicle_type">Vehicle type:</label>
                    <input type ="text" class="form-control" name="vehicle_type" value="{{category.vehicle_type }}">
                            <label for="description">Description:</label>
                    <input type ="text" class="form-control" name="description" value="{{category.description }}">
                </div>
                <div class="padding-bottom">
                
                    <button type="submit" class="btn btn-success" id="submit" value="save" name="btn" >
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save </button>

                    <button type="cancel" class="btn btn-default" id="cancel" value="cancel" name="btn">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}
