			<div class="row top-menu">
				<nav class="navbar navbar-default container-fluid navbar-fixed-top">
			 		<div class="container">
			  			<div class="col-md-6 col-md-offset-0" style="margin-top: 5px;">
							<p class="navbar-text">
								<!-- <span class="glyphicon glyphicon-home" aria-hidden="false"></span> -->
								{% if request.path  != "/itemCatalog/" %} 
									<p class="navbar-text navbar-left"><h4><a href="{{url_for('showItems')}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
										<a href="/itemCatalog"><small> Show latest items </small></a></h4></p>
								{% else %}
									<p class="navbar-text navbar-left"><h4><strong>Item Catalog </strong><small><strong data-toggle="modal" data-target="#myModal"> <a href="#"> (about) </a></small></strong></h4></p>
								{% endif %}
							</p>
						</div>
			    		<div class="col-md-6 text-right" style="margin-top: 3px;">
							{%if 'username' not in session %}
								<p class="navbar-text navbar-right"><h4><a href="{{url_for('showLogin')}}"><small><strong><span class="label label-primary">Log In </span></strong></small></h4></a></p>
							{% else %}
								<p class="navbar-text navbar-right"><h4><span class="glyphicon glyphicon-user " aria-hidden="true"></span>
									<small>Logged in as </small><strong> {{session.username}} </strong>
								<a href="{{url_for('disconnect')}}"><small><strong><span class="label label-primary">Log Out </span></strong></small></h4></a></p>
								
							{% endif %}
						</div
			  		</div>
				</nav>
			</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><small>{ about }</small></h4>
      </div>
      <div class="modal-body">
      	<h1><strong>I</strong>tem <strong>C</strong>atalog</h1>
        <h2><strong>U</strong>dacity <strong>F</strong>ullStack <strong>N</strong>ano<strong>D</strong>egree</h2>
        <h4> by <a href="mailto:avidalh@gmail.com"> Angel Vidal</h4>
        <a href="https://github.com/avidalh/udacity-fsnd-p3">GitHub Repository</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
