			<div class="row top-menu">
				<nav class="navbar navbar-default container-fluid navbar-fixed-top">
			 		<div class="container">
			  			<div class="col-md-6 col-md-offset-0" style="margin-top: 5px;">
							<p class="navbar-text">
								<!-- <span class="glyphicon glyphicon-home" aria-hidden="false"></span> -->
								{% if request.path  != "/itemCatalog/" %} 
									<p class="navbar-text navbar-left"><h4><a href="{{url_for('showItems')}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
										<a href="/itemCatalog"><small> Show latest items </small></a></h4></p>
								{% else %}
									<p class="navbar-text navbar-left"><h4><strong>Item Catalog </strong><small><strong data-toggle="modal" data-target="#myModal"> <a href="#"> (about) </a></small></strong></h4></p>
								{% endif %}
							</p>
						</div>
			    		<div class="col-md-6 text-right" style="margin-top: 3px;">
							{%if 'username' not in session %}
								<p class="navbar-text navbar-right"><h4><a href="{{url_for('showLogin')}}"><small><strong><span class="label label-primary">Log In </span></strong></small></h4></a></p>
							{% else %}
								<p class="navbar-text navbar-right"><h4><span class="glyphicon glyphicon-user " aria-hidden="true"></span>
									<small>Logged in as </small><strong> {{session.username}} </strong>
								<a href="{{url_for('disconnect')}}"><small><strong><span class="label label-primary">Log Out </span></strong></small></h4></a></p>
								
							{% endif %}
						</div
			  		</div>
				</nav>
			</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><small><strong>{ about }</strong></small></h4>
      </div>
      <div class="modal-body">
      	
      	<h1><strong>I</strong>tem <strong>C</strong>atalog</h1>
        <h3><strong> U</strong>dacity <strong> F</strong>ullStack <strong> N</strong>ano<strong>D</strong>egree (udacity-fsnd-p3) </h3>
        <h4> by <a href="mailto:avidalh@gmail.com"> Angel Vidal</a></h4>
        
        <!-- from README file -->
		<!-- <h1 id="udacity-fsnd-p3">udacity-fsnd-p3</h1> -->
		<!-- <h2 id="-i-tem-c-atalog"><strong>I</strong>tem<strong>C</strong>atalog</h2> -->
			<!-- <h3 id="udacity-fullstack-nanodegree-project-3">Udacity FullStack NanoDegree Project 3</h3> -->
			<h2 id="synopsis">Synopsis</h2>

			 <p>This is my FullStack NanoDegree&#39;s third project, aka <strong>Item Catalog</strong>.
			It&#39;s a web application based on Flask, SQLAlchemy and (of course) Python.</p>
			<p>The application is oriented to create, store, manage and show a <strong>cars</strong> item catalog. Log in is permitted using oauth and facebook/google+ authentication. When logged in the applications permits create, modify and delete items and categories.
			In order to reach an &quot;Exceeds Specs&quot; the following aspects are covered:</p>
			<ul>
			<li><p>API Endpoints. The app provides an XML endpoint for categories, items by category and individual items.</p>
			</li>
			<li><p>Items images. Every item has three fields to store pictures URL. All the item&#39;s fields are accessible to Create, Update and Delete once you&#39;ve logged in.</p>
			</li>
			<li><p>Cross-Site Request Forgeries (CSRF) is prevented by checking loggedIn/userID when Create/Update/Delete operation is requested.</p>
			</li>
			<li><p>Code Quality. I&#39;ve tried to write a well formatted and commented code, accordingly the PEP8 guide and PEP</p>
			</li>
			</ul>
			<p>
			<!-- 
			## Motivation
			This is my FullStack NanoDegree&#39;s third project, aka **Item Catalog**.
			 -->


			</p>
			<h2 id="requirements">Requirements</h2>
			<p>All requirements are specified in the autogenerated file &quot;<strong><code>requirements.txt</code></strong>&quot;
			The easy way to be sure your system are ready to execute the application is by doing the following:
			 &quot;<strong><code>pip install -r requirements.txt</code></strong>&quot;</p>
			<h2 id="installation">Installation</h2>
			<p>To install the application follow the nex steps:</p>
			<ul>
			<li><p>Option 1: <strong>Clone the repository.</strong> If you are a <strong>git</strong> user do this: 
			  From the system&#39;s command line execute &quot;<strong><code>git clone https://github.com/avidalh/udacity-fsnd-p3</code></strong>&quot;, this action will create the directory <code>udacity-fsnd-p3</code> where the project has been downloaded.</p>
			</li>
			<li><p>Option 2: <strong>Download the zip file.</strong> If you are not a <strong>git</strong> user:
			  Download the zip file <strong><code>https://github.com/avidalh/udacity-fsnd-p3/archive/master.zip</code></strong> from GitHub and decompress it on your system at the best place you decide.</p>
			</li>
			</ul>
			<h2 id="running-the-app">Running the app</h2>
			<p>The application can be executed on almost every system where python 2.7 had been installed (e.g. MacOS-X, Linux, Unixes, etc.) I&#39;ve tested the app in MacOS-X and Ubuntu, this last one running in a Vagrant virtual machine.</p>
			<p>To execute the app you have some options:</p>
			<ol>
			<li><p>Running the application by just typing <strong><code>python application</code></strong> on your system&#39;s command line.</p>
			</li>
			<li><p>Open the <code>application.py</code> with IDLE and select run.</p>
			</li>
			</ol>
			<h3 id="addons-">Addons:</h3>
			<ol>
			<li><p>If you need to create the database file, <strong><code>catalog.sql</code></strong>, you can execute <strong><code>python database_setup.py</code></strong> and your new file will be created.</p>
			</li>
			<li><p>Auto-populating the database can be done by using <strong><code>python populate.py</code></strong>, this way some sample categories and items will be created to play with them.</p>
			</li>
			</ol>
			<h2 id="tests">Tests</h2>
			<p>The program has been tested by many users and (almost) all known bugs have been fixed. If you find some bug please email me and I will fix it when possible.</p>
			<h2 id="contributors">Contributors</h2>
			<p>I want to thank all the people involved in my NanoDegree, family, udacity (coaches, students and reviewers), workmates, friends, etc. To all of them </p>
			<p><h1><center>Thank You!</center></h1>

			</p>
			<p>for your support and help.</p>
			<h2 id="license">License</h2>
			<p><strong>ItemCatalog</strong> is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>
			<p><strong>ItemCatalog</strong> is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>
			<p>You should have received a copy of the GNU General Public License along with <strong>ItemCatalog</strong>.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.</p>

		<!-- end of README file -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
      </div>
    </div>
  </div>
</div>
