<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		
		
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  		<link href="http://nakupanda.github.io/bootstrap3-dialog/assets/bootstrap-dialog/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
  		<script src="http://nakupanda.github.io/bootstrap3-dialog/assets/bootstrap-dialog/js/bootstrap-dialog.min.js"></script>


		<!-- loads prettify -->
		<!-- <link  type=text/css rel=stylesheet href="{{ url_for('static', filename='prettify.css') }}"> 
		<script type=text/javascript src="{{ url_for('static', filename='prettify.js') }}"></script> -->
		
		<!-- <link  type=text/css rel=stylesheet href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css">
		<script type=text/javascript src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
 -->

  		<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//apis.google.com/js/platform.js?onload=start"> </script>
		<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

	</head>
	<body { padding-top: 170px; }>
        <div class="container">

			{% block content %}
			{% endblock %}

		</div>
	</body>
</html>