{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container fluid">
    <div class="row">

        {% include "flash.html" %}

        <div class="col-md-7 col-md-offset-2"  style="border-bottom: 0px solid #ccc">
            <h1>New Item page...</h1>

            <form action="{{url_for('newItem', category_id = category_id)}}" method = "post">
            	<div class="form-group">
                    <label for="make">Make:</label><input type ="text" class="form-control" name="make"><br>
                    <label for="model">Model:</label><input type ="text" class="form-control" name="model"><br>
                    <label for="description">Description:</label><input type ="text" class="form-control" name="description"><br>
                    <label for="picture1">picture1:</label><input type ="text" class="form-control" name="picture1"><br>
                    <label for="picture2">picture2:</label><input type ="text" class="form-control" name="picture2"><br>
                    <label for="picture3">picture3:</label><input type ="text" class="form-control" name="picture3"><br>
                    <label for="displacement">Displacement:</label><input type ="text" class="form-control" name="displacement"><br>
                    <label for="engine">Engine:</label><input type ="text" class="form-control" name="engine"><br>
                    <label for="cylinders">Cylinders:</label><input type ="text" class="form-control" name="cylinders"><br>
                    <label for="power">Power:</label><input type ="text" class="form-control" name="power"><br>
                    <label for="speed">Speed:</label><input type ="text" class="form-control" name="speed"><br>
                    <label for="seats">Seats:</label><input type ="text" class="form-control" name="seats"><br>
                    <label for="weight">Weight:</label><input type ="text" class="form-control" name="weight"><br>
                    <label for="year">Year:</label><input type ="text" class="form-control" name="year"><br>
                    <label for="price">Price:</label><input type ="text" class="form-control" name="price"><br>
                </div>

                <div class="padding-bottom">
                    <button type="submit" class="btn btn-success" id="submit" type="submit" value="save" name="btn">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Create </button>
                    <button type="submit" class="btn btn-default" id="submit" type="submit" value="cancel" name="btn">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel </button>
            	</div>
            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}
